<div fxLayout="row" fxLayout.xs="column">
  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="over" class="app-sidenav">
      <mat-toolbar color="primary">
        <span class="toolbar-filler"></span>
        <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button"
          [hidden]="!sidenav.opened">
          <i class="material-icons">highlight_off</i>
        </button>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item class="sidenav-link" [routerLink]="['/book']" (click)="sidenav.toggle()">
          <i class="material-icons">flight_takeoff</i>
          <span class="title" mat-line>Book Flight</span>
        </a>
        <a mat-list-item class="sidenav-link" [routerLink]="['/view']" (click)="sidenav.toggle()">
          <i class="material-icons">view_module</i>
          <span class="title" mat-line>View Bookings</span>
        </a>
        <a mat-list-item class="sidenav-link" (click)="sidenav.toggle()">
          <i class="material-icons">done_outline</i>
          <span class="title" mat-line (click)="setupDb()">Setup Database</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar id="appToolbar" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button"
        [hidden]="sidenav.opened">
        <i class="material-icons">list</i>
      </button>
      <h1 class="component-title">
        <a mat-list-item class="sidenav-link">{{title}}</a>
      </h1>
    </mat-toolbar>

    <div fxLayoutGap="20px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>